@import "variables";

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 999;
}

.burger-menu-line {
  justify-content: flex-start;
  width: 2.5rem;
  height: 3px;
  background-color: $grey;
  transition: transform 0.3s ease-in-out;
}

.burger-menu.open .burger-menu-line {
  transform: rotate(45deg);
}

.burger-menu.open .burger-menu-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-menu-line:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
}

.menu-items.open {
  max-height: 200px;
}

.menu-items li {
  margin: 10px 0;
}

.menu-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 700px) {
  .burger-menu {
    display: none;
  }
  
  .menu-items {
    flex-direction: row;
    align-items: center;
    max-height: none;
  }
  
  .menu-items li {
    margin: 0 40px;
  }
}
